$basicSize:10;

.intro{
    background-color: beige;
    border: 2px solid black;
    padding: 2% 5%;
    h1{
        margin: 0;
        text-align: center;
    }
}
@for $i from 1 to 7{
    .ts-#{$i}{
        text-align: center;
        padding: 1% 10%;
        font-size: $basicSize * $i *1px;
        font-weight: 400;
        margin: 8px 0;
        border: 2px solid ;
        @if($i<4){
            color: red;
            border-color:red;

        }@else{
            color: green;
            border-color: green;
        }
    }
}