.wrap{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    background-color: aliceblue;
}
.prodCard{
    min-width: 150px;
    padding: 5%;
    margin: 10px;
    border-radius: 10px;
    text-align: center;

}